:root {
  --brand-blue-: #3b4862;
  --brand-light-blue-: #39659b;
  --brand-light-: #ffc98c;
  --brand-gray-: #909394;
  --brand-white-: #dedddd;
  --white-: #fffdfa;
}

.text-white {
  color: white;
}

.navigation-bar__navbar {
  background-color: var(--brand-blue-);
}

.navigation-bar__logo {
  height: 80px;
}

.text-hover__effect:hover {
  color: var(--brand-light-) !important;
  text-decoration: underline;
}

body {
  background-color: var(--brand-white-);
}

.page__body {
  margin: auto;
  position: relative;
}

.about__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.about__titles-container {
  margin-top: 50px;
}

.about__image-container {
  width: 100%;
  margin-top: 50px;
}

.about__image {
  margin: auto;
  width: 100%;
}

.brand-images__image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand-images__title {
  margin-top: 50px;
  text-align: center;
}

.brand-images__image {
  padding: 10px;
  margin: 15px;
  box-shadow: 1px 1px 1px 1px grey;
  background-color: var(--white-);
  border-radius: 5px;
}

.home-page-nav__container {
  display: flex;
  justify-content: center;
  background: var(--white-);
}

.home-page-nav__link {
  color: black;
  text-decoration: none;
  padding: 0px 5px;
}

.home-page-nav__link:hover {
  color: var(--brand-light-blue-);
  background-color: var(--brand-light-);
}

.home-page-nav__icon-container {
  text-align: center;
}

.home-page-nav__icon-text {
  text-align: center;
  font-size: 14px;
}

.back-to-top-button__container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.back-to-top-button__button {
  background-color: var(--brand-light-blue-);
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 1px 1px 1px black;
}

.footer__body {
  background-color: var(--brand-blue-);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-icons__container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--brand-white-);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.footer-icons__container:hover {
  opacity: 0.8;
}

.footer__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright-text {
  color: var(--brand-white-);
}

.carousel_image_center {
  width: 100%;
}

.sub-footer__body {
  display: flex;
  justify-content: center;
}

.sub-footer__link {
  color: black;
  padding: 10px;
}

@media (min-width: 900px) {
  /* .page__body {
    padding: 0 200px;
  } */
  #brands {
    padding: 0 200px;
  }
  .about__body {
    padding-top: 150px;
  }
  .about__titles-container {
    padding: 0 50px;
  }
  .brand-images__title {
    margin-top: 100px;
  }
  .brand-images__image {
    padding: 50px;
    margin: 20px;
  }
  .home-page-nav__icon-text {
    font-size: 20px;
  }
  .home-page-nav__link {
    padding: 0px 20px;
  }
}
