:root {
  --brand-blue-: #3b4862;
  --brand-light-blue-: #39659b;
  --brand-light-: #ffc98c;
  --brand-gray-: #909394;
  --brand-white-: #dedddd;
}

.text-white {
  columns: white;
}

.navigation-bar__navbar {
  background-color: var(--brand-blue-);
}

.navigation-bar__logo {
  height: 80px;
}

.navigation-bar__links:hover {
  color: var(--brand-light-) !important;
  text-decoration: underline;
}

body {
  background-color: var(--brand-white-);
}

.page__body {
  margin: auto;
}

.about__body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 50px;
}

.about__titles-container {
  margin-top: 50px;
}

.about__image-container {
  width: 100%;
  margin-top: 50px;
}

.about__image {
  margin: auto;
  width: 100%;
}

@media (min-width: 900px) {
  .page__body {
    padding: 0 200px;
  }
  .about__body {
    padding-top: 150px;
  }
  .about__titles-container {
    padding: 0 50px;
  }
}
